# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

anomalia_termica=pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
anomalia_termica.index=[1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))

arr = pd.DataFrame(arr)
arr

             0           1           2
0   106.974614   98.114392  103.933864
1    94.595576  107.701271   91.923465
2    92.759067   99.283019   76.234466
3   104.017363  114.094462  110.663353
4   106.492870   85.293292   94.074287
5   104.513355  100.284305  105.227378
6    73.739097   87.986467  119.579655
7   108.818335  105.524863   86.798674
8    95.624097   88.365058   97.569692
9    91.499743   84.495178  109.694450
10  101.222949  103.727083   69.793976
11  105.295242   80.276813   93.474991
12   91.757363  117.846239   91.760585
13   86.081512   98.690913   95.870294
14  106.725537  117.072516   86.252967
15   78.907397  118.810164  119.129812
16  106.109828   99.769318  120.351147
17   82.159993  102.474856   86.966639
18   97.972216  112.739652   92.476387
19   95.348360  104.173299   97.127640

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [9]:
arr.index = arr.index + 1
arr.columns = ['x1', 'x2', 'x3']

arr

            x1          x2          x3
4   106.974614   98.114392  103.933864
5    94.595576  107.701271   91.923465
6    92.759067   99.283019   76.234466
7   104.017363  114.094462  110.663353
8   106.492870   85.293292   94.074287
9   104.513355  100.284305  105.227378
10   73.739097   87.986467  119.579655
11  108.818335  105.524863   86.798674
12   95.624097   88.365058   97.569692
13   91.499743   84.495178  109.694450
14  101.222949  103.727083   69.793976
15  105.295242   80.276813   93.474991
16   91.757363  117.846239   91.760585
17   86.081512   98.690913   95.870294
18  106.725537  117.072516   86.252967
19   78.907397  118.810164  119.129812
20  106.109828   99.769318  120.351147
21   82.159993  102.474856   86.966639
22   97.972216  112.739652   92.476387
23   95.348360  104.173299   97.127640

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [11]:
arr['media'] = arr.mean(axis=1)
arr

            x1          x2          x3       media
4   106.974614   98.114392  103.933864  103.007623
5    94.595576  107.701271   91.923465   98.073437
6    92.759067   99.283019   76.234466   89.425518
7   104.017363  114.094462  110.663353  109.591726
8   106.492870   85.293292   94.074287   95.286816
9   104.513355  100.284305  105.227378  103.341679
10   73.739097   87.986467  119.579655   93.768406
11  108.818335  105.524863   86.798674  100.380624
12   95.624097   88.365058   97.569692   93.852949
13   91.499743   84.495178  109.694450   95.229790
14  101.222949  103.727083   69.793976   91.581336
15  105.295242   80.276813   93.474991   93.015682
16   91.757363  117.846239   91.760585  100.454729
17   86.081512   98.690913   95.870294   93.547573
18  106.725537  117.072516   86.252967  103.350340
19   78.907397  118.810164  119.129812  105.615791
20  106.109828   99.769318  120.351147  108.743431
21   82.159993  102.474856   86.966639   90.533829
22   97.972216  112.739652   92.476387  101.062752
23   95.348360  104.173299   97.127640   98.883100

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [12]:
arr['log_med'] = np.log(arr['media'])
arr

            x1          x2          x3       media   log_med
4   106.974614   98.114392  103.933864  103.007623  4.634803
5    94.595576  107.701271   91.923465   98.073437  4.585717
6    92.759067   99.283019   76.234466   89.425518  4.493406
7   104.017363  114.094462  110.663353  109.591726  4.696762
8   106.492870   85.293292   94.074287   95.286816  4.556891
9   104.513355  100.284305  105.227378  103.341679  4.638041
10   73.739097   87.986467  119.579655   93.768406  4.540828
11  108.818335  105.524863   86.798674  100.380624  4.608969
12   95.624097   88.365058   97.569692   93.852949  4.541729
13   91.499743   84.495178  109.694450   95.229790  4.556293
14  101.222949  103.727083   69.793976   91.581336  4.517227
15  105.295242   80.276813   93.474991   93.015682  4.532768
16   91.757363  117.846239   91.760585  100.454729  4.609707
17   86.081512   98.690913   95.870294   93.547573  4.538470
18  106.725537  117.072516   86.252967  103.350340  4.638125
19   78.907397  118.810164  119.129812  105.615791  4.659808
20  106.109828   99.769318  120.351147  108.743431  4.688991
21   82.159993  102.474856   86.966639   90.533829  4.505724
22   97.972216  112.739652   92.476387  101.062752  4.615742
23   95.348360  104.173299   97.127640   98.883100  4.593938